html {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-size: 10px;
}
.header {
    padding: 56px 0;
}
.container-xl {
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    min-width: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-xl img {
    width: 693px;
}
.logo {
    font-size: 2.4rem;
    line-height: 1.25;
    font-weight: bold;
    color: #233348;
    display: inline-flex;
    align-items: center;
    gap: 12px;
}
.logo::before {
    content: url("../img/logo.svg");
    width: 41px;
}
.top-nav {
    display: flex;
    gap: 40px;
}
.top-nav a {
    color: #1f1534;
    opacity: 0.5;
    font-size: 18px;
    line-height: 1.28;
    font-weight: normal;
}
.top-nav a:hover {
    font-weight: bold;
    opacity: 1;
}
.hero {
    padding-top: 20px;
    padding-bottom: 190px;
    background: url("../img/element.png") -4% 0 no-repeat;
}
.hero > div {
    gap: 109px;
}
.hero h1 {
    font-size: 4.8rem;
    line-height: 1.17;
    font-weight: bold;
    margin-bottom: 25px;
}
.hero p {
    font-weight: 300;
    font-size: 2.1rem;
    line-height: 1.52;
    color: #7d7987;
    margin-bottom: 45px;
}
.button {
    font-size: 1.8rem;
    line-height: 1.5;
    padding: 15px 10px;
    border-radius: 55px;
    border: 1px solid #458ff6;
    font-weight: bold;
    color: #458ff6;
    background-color: none;
    min-width: 200px;
    text-align: center;
    display: inline-block;
}
.hero a {
    color: white;
    background-color: #458ff6;
}
.second-section {
    background: url("../img/Vector.svg") -20% 45% no-repeat, url("../img/element.png") 94% 55% no-repeat;
    margin-bottom: 220px;
}
.container {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}
.box {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.head {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head h2 {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 1.56;
    margin-bottom: 61px;
}
.head h2::after {
    content: "";
    display: block;
    width: 56px;
    height: 2px;
    border-radius: 1px;
    background-color: black;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
}
.head p {
    max-width: 952px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #7d7987;
    margin-bottom: 80px;
}
.cardbox {
    max-width: 1120px;
    padding-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
}
.cardbox ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 34px;
}
.cardbox li {
    width: 350px;
    height: 354px;
    border-radius: 20px;
    padding-top: 50px;
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 50px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cardbox img {
    height: 90px;
    width: auto;
}
.card {
    display: flex;
    flex-direction: column;
}
.card h3 {
    font-size: 2.4rem;
    line-height: 2.33;
    font-weight: 700;
}
.card p {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
}
.section3 {
    padding-bottom: 229px;
    background: url("../img/element.png") 104% 80% no-repeat;
}
.section3 img {
    width: 650px;
}
.section3 > div {
    gap: 142px;
}
.content-section3 h2 {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 1.56;
    margin-bottom: 33px;
}
.content-section3 h2::after {
    content: "";
    display: block;
    width: 56px;
    height: 2px;
    border-radius: 1px;
    background-color: black;
    margin-top: 26px;
}
.content-section3 p {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    margin-bottom: 37px;
}
.section4 {
    padding-bottom: 266px;
}
.section4 img {
    width: 665px;
}
.section4 > div {
    gap: 71px;
}
.content-section4 h2 {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 1.33;
    margin-bottom: 32px;
}
.content-section4 h2::after {
    content: "";
    display: block;
    width: 56px;
    height: 2px;
    border-radius: 1px;
    background-color: black;
    margin-top: 31px;
}
.content-section4 p {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    margin-bottom: 40px;
}
